.footer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: solid .1rem var(--cl-primaria);
    border-top: none;
    padding: 2rem;
}

.footer-conteudo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__logo{
    max-width: 6rem;
}

.footer__descricao{
    font-family: var(--ft-primaria);
    font-size: 1.25;
    font-weight: 500;
    color: var(--cl-primaria);
    padding: -.5rem;
}

.footer__menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    padding-bottom: 2rem;
    gap: 1rem;
}

.footer__menu-item{
    list-style-type: none;
    font-family: var(--ft-primaria);
    font-size: 1.25rem;
}

.footer__menu-item a{
    text-decoration: none;
    color: var(--cl-primaria);
    font-weight: 500;
}

.footer__newsletter{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__newsletter-titulo{
    font-family: var(--ft-primaria);
    font-size: 1.5rem;
    font-weight: 500;
}

.footer__newsletter-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__newsletter-input{
    width: 100%;
    height: 3rem;
    padding:  0 0 0 .5rem;
    border: solid var(--cl-primaria);
    box-shadow: .3rem .3rem 0 0px var(--cl-primaria);
}

@media (min-width: 1024px){
    .footer{
        flex-direction: row;
        justify-content: space-between;
        padding: 7.5rem;
    }

    .footer-conteudo{
        max-width: 30%;
        gap: 2rem;
    }
    
    .footer__logo{
        max-width: 8rem;
    }
    
    .footer__menu{
        gap: 2rem;
    }
    
    .footer__menu-item{
        font-size: 1.5rem;
    }
    
    .footer__newsletter{
        gap: 2rem;
    }
    
    .footer__newsletter-form{
        gap: 2rem;
    }
    
    .footer__newsletter-input{
        width: 100%;
        height: 3rem;
    }
}