.hero{
    display: flex;
    flex-direction: column-reverse;
    border: solid .1rem var(--cl-primaria);
    border-top: none;
    padding-bottom: 3rem;
}

.hero__conteudo{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem 1.5rem 1.5rem 1.3rem;
}

.hero__titulo{
    font-family: var(--ft-primaria);
    color: var(--cl-primaria);
    font-weight: 900;
    font-size: 3rem;
}

.texto-destaque{
    color: var(--cl-secundaria);
}

.hero__icone{
    margin-left: -1.4rem;
}

.hero__descricao{
    font-family: var(--ft-primaria);
    font-size: 1.25;
    font-weight: 500;
    color: var(--cl-primaria);
    letter-spacing: 1px;
}

.hero__decoracao{
    max-width: 50%;
    align-self: flex-end;
}

@media(min-width: 720px){
    .hero__decoracao{
        margin-left: 8rem;
        align-self: flex-start;
    }
}

@media (min-width: 1024px){
    .hero{
        flex-direction: row;
        align-items: center;
        padding: 2rem 0 10rem 5.5rem;
    }

    .hero__imagem{
        max-width: 58%;
    }
    
    .hero__titulo{
        font-size: 4rem;
    }
    
    .hero__icone{
        margin-left: -1.6rem;
        padding-left: .5rem;
    }

    .hero__descricao{
        font-size: 1.5rem;
    }
    
}